footer {
    justify-content: space-between;
    z-index: 999;
    background-color: $black;
    padding: 1rem;
    margin: 0;
    margin-top: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;

    a {
        @extend .link-hover-transition;
    }

    p {
        grid-column: 2 / 4;
    }
}

/* Media queries */
@media only screen and (min-width: $query-large) {
    footer {
        display: grid;
        grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    }

}

@media only screen and (min-width: $query-xlarge) {
    footer {
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }
}
