/* Site-wide grid container */
#grid-container {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.5rem auto auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

/* Grid layout */
main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

#navbar-header {
    grid-area: header;
}

/* Media queries */
@media only screen and (min-width: 1000px) {
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'header header header header'
            'main main main main'
            'footer footer footer footer';
    }
}

@media only screen and (min-width: $query-large) {
    #grid-container {
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
            'header header header header header header'
            '. main main main main .'
            'footer footer footer footer footer footer';
    }
}

@media only screen and (min-width: $query-xlarge) {
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'header header header header header header'
            '. main main main main .'
            'footer footer footer footer footer footer';
    }
}
