#grid-container {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.5rem auto auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

@media only screen and (min-width: 1000px) {
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'header header header header'
            'main main main main'
            'footer footer footer footer';
    }
}

@media only screen and (min-width: 1400px) {
    #grid-container {
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
            'header header header header header header'
            '. main main main main .'
            'footer footer footer footer footer footer';
    }
}

@media only screen and (min-width: 1950px) {
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'header header header header header header'
            '. main main main main .'
            'footer footer footer footer footer footer';
    }
}
