#navbar-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: $black;
    padding: 1rem;
    min-width: 400px;

    a {
        @extend .link-hover-transition;
    }

    ul {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        align-items: center;
    }

    h2 {
        margin: 0;
        color: $white;
        font-size: 1em;
        text-transform: none;
    }

    #header-logo {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
    }
}

#header-centered {
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

#nav-desktop {
    display: none;
}

@media only screen and (min-width: $query-small) {
    #nav-mobile {
        display: none;
    }

    #nav-desktop {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
            'header-left header-right';
    }

    #header-left {
        width: 100%;
        grid-area: header-left;
        display: flex;
        padding-right: 2rem;

        ul {
            gap: 1rem;
        }
    }

    #header-right {
        width: 100%;
        grid-area: header-right;
        display: flex;

        ul {
            gap: 2rem;
            justify-content: flex-end;
        }
    }

    #logo-title {
        font-size: 1.25em;
    }

    #header-logo {
        height: 4rem;
    }
}

/* Media queries */
@media only screen and (min-width: $query-large) {
    #nav-desktop {
        display: grid;
        grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
        grid-template-areas:
            '. header-left header-right .';
    }

}

@media only screen and (min-width: $query-xlarge) {
    #nav-desktop {
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }
}
