html,
body {
    font-family: $textfont;
    font-weight: 400;
}

body {
    background-color: $white;
    font-size: $rootsize;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;
    font-family: $headerfont;
    @extend .text-bold;
}

h1,
h2 {
    text-transform: uppercase;
    margin-top: 0;
}


main {
    margin: 1.5rem 1rem;
    padding-bottom: 6rem;
}

footer {
    margin: 1.5rem 1rem;
}

a,
button {
    @extend .text-bold;
    color: $white;
    font-size: 1em;
    cursor: pointer;
    transition: ease-in-out .4s;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
