// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&family=Mulish:wght@400;700&display=swap');

$headerfont: 'Kanit', sans-serif;
$textfont: 'Mulish', sans-serif;

// Sizes
$rootsize: 16px;
$radius: 0.25rem;
$radius-big: 0.5rem;
$zoom-size: 1.025;
$query-xsmall: 550px;
$query-small: 750px;
$query-medium: 1200px;
$query-large: 1400px;
$query-xlarge: 1950px;

// Colors
$black: #000000;
$white: #ffffff;
$light-grey: #f3f3f3;
$dark-grey: #232323;
$yellow: #fff45b;
$light-red: #fe6868;

// Utility classes
.text-bold {
    font-weight: 700;
}
