#dashboard-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;

    #gameshop-widget {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #mygames-widget {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #myfavourites-widget {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

@media only screen and (min-width: 1200px) {
    #dashboard-page {
        grid-template-columns: 1fr 1fr 1fr 1.4fr;
        grid-template-rows: auto auto;
    
        #gameshop-widget {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
        }
    
        #mygames-widget {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }
    
        #myfavourites-widget {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }
    }
}
