#game-page {
    padding: 1rem 0;

    .library-store {
        margin: 1.5rem 0;
    }

    h1 {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    p {
        color: $black;
    }

    figure {
        margin: 0;

        img {
            max-height: 800px;
            object-fit: cover;
            border-radius: $radius-big;
            box-shadow: 8px 8px 12px #c9c9c9,
                -8px -8px 12px #dfdfdf;
        }
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;

        #rating-favourite-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
        }
    }

    .info-tag {
        background-color: $light-grey;
        padding: 0.25rem 0.5rem;
        border: 2px solid rgba(0, 0, 0, 0.25);
        border-radius: $radius;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
        min-width: fit-content;
        margin: 0;
        font-size: 1em;
        text-decoration: none;
        color: $black;
    }

    .rating-tag {
        @extend .info-tag;
        background-color: $yellow;
    }

    .notinlibrary-tag {
        @extend .info-tag;
        background-color: $light-grey;
    }

    .inlibrary-tag {
        @extend .info-tag;
        background-color: $light-grey;
    }

    .favourite-button {
        @extend .info-tag;
        cursor: pointer;
    }

    .favourited {
        background-color: $light-red;
    }

    .tag-cloud {
        margin-bottom: 5rem;
    }

    .buy-button {
        @extend .link-button;
        padding: 0.5rem 1.25rem;
    }
}


@media only screen and (min-width: 1000px) {
    #game-page {
        padding: 1rem 10rem;
    }
}

@media only screen and (min-width: $query-medium) {
    #game-page {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem 0;

        section {
            flex-basis: calc(50% - 1rem);
        }

        h1 {
            margin: 0;
            margin-bottom: 0.5rem;
        }
    }
}

@media only screen and (min-width: $query-large) {
    #game-page {
        header {
            flex-direction: row;
            align-items: flex-start;
            gap: 1rem;

            h1 {
                margin-bottom: 0;
            }
        }
    }
}
