#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;

        h1 {
            margin: 0;
        }

        img {
            height: 4rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;

        label {
            @extend .text-bold;
        }

        input {
            padding: 0.25rem;
            border: 2px solid $black;
            border-radius: $radius;
            font-size: 1em;
            font-family: $textfont;
            font-weight: 700;
        }

        button {
            margin-top: 1rem;
        }
    }

    .form-message {
        margin-top: 0;
        background-color: $light-grey;
        padding: 0.5rem;
        width: fit-content;
        border-radius: $radius;
    }

    .error-message {
        background-color: $light-red;
    }

}

@media only screen and (min-width: $query-small) {
    #login-page {
        justify-content: center;
    }
}
