.link-button {
    display: inline-block;
    margin: 0;
    border: none;
    font-size: 1em;
    padding: 0.25rem 0.75rem;
    background-color: $black;
    border-radius: $radius;
    color: $white;
    text-decoration: none;
    text-align: center;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.link-hover-transition {
    transition: ease-in-out 0.2s;

    &:hover {
        filter: brightness(80%);
    }
}
