.gameslist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 2rem;
    justify-content: space-between;

    &:after {
        content: "";
        flex: auto;
        flex-basis: 30%;
        max-width: calc(33% - 1.16rem);
    }

    h3,
    p {
        color: $black;
    }

    h3 {
        margin: 0.5rem 0;
        margin-bottom: 1rem;
        font-weight: 400;
    }

    article {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex-grow: 1;

        section {
            min-width: 175px;
        }

        &:hover img,
        &:focus-within img {
            transform: scale($zoom-size);
            box-shadow: 4px 4px 12px #c9c9c9,
                -4px -4px 12px #dfdfdf;
            opacity: 1;
        }

        figure {
            margin: 0;
            background-color: $black;
            border-radius: $radius-big;
            font-size: 0;

            img {
                transition: 0.3s;
                width: 100%;
                height: auto;
                max-height: 400px;
                border-radius: $radius-big;
                box-shadow: 8px 8px 12px #c9c9c9,
                    -8px -8px 12px #dfdfdf;
                opacity: 0.9;
            }
        }
    }
}

@media only screen and (min-width: 550px) {
    .gameslist {
        article {
            display: flex;
            flex-direction: column;
            flex-basis: 45%;
            flex-grow: 1;
            max-width: calc(50% - 1rem);
        }
    }
}

@media only screen and (min-width: 700px) {
    .gameslist {
        article {
            display: flex;
            flex-direction: column;
            flex-basis: 30%;
            max-width: calc(33% - 1.16rem);
            flex-grow: 1;
        }
    }
}
