#gameshop-widget {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            margin-left: 1.25rem;
        }

        h1 {
            margin: 0;
        }

        margin-bottom: 1rem;
    }

    #gameshop-widget-gameslist {
        background-color: $light-grey;
        padding: 1rem;
        border-radius: $radius;

        .gameslist {
            .tag-section {
                margin: 0;
            }

            &:after {
                all: none;
            }
        }
    }

    .gameslist {
        article {
            section {
                .tag-section {
                    p {
                        background-color: $white;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    #gameshop-widget {
        .gameslist {
            row-gap: 0;

            article {
                display: flex;
                flex-direction: column;
                flex-basis: 30%;
                max-width: calc(33% - 1.16rem);
                flex-grow: 1;
            }
        }
    }

}

@media only screen and (min-width: 1000px) {
    #gameshop-widget {
        #gameshop-widget-gameslist {
            padding: 1.5rem;
        }
    }
}
