#gameshop-widget {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            margin-left: 1.25rem;
        }

        h2 {
            margin: 0;
        }

        margin-bottom: 1rem;
    }

    #gameshop-widget-gameslist {
        background-color: $light-grey;
        padding: 1.5rem;

    }

    .gameslist {
        article {
            section {
                .tag-section {
                    p {
                        background-color: $white;
                    }
                }
            }
        }
    }
}
