#myfavourites-widget {
    #myfavourites-widget-gameslist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;

        article {
            display: flex;
            flex-direction: column;
            flex-basis: 30%;
            flex-grow: 1;

            section {
                min-width: 175px;

                h3,
                p {
                    color: $black;
                }

                h3 {
                    margin: 0.5rem 0;
                    font-weight: 400;
                }
            }

            &:hover img, &:focus-within img {
                transform: scale($zoom-size);
                box-shadow: 4px 4px 12px #c9c9c9,
                        -4px -4px 12px #dfdfdf;
            }

            figure {
                margin: 0;

                img {
                    transition: 0.3s;
                    width: 100%;
                    height: auto;
                    object-fit: fill;
                    border-radius: $radius-big;
                    box-shadow: 8px 8px 12px #c9c9c9,
                        -8px -8px 12px #dfdfdf;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #myfavourites-widget {
        border-left: 2px solid $dark-grey;
        padding-left: 1rem;

        #myfavourites-widget-gameslist {
            flex-direction: column;

            article {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                flex-grow: 1;
                max-width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    #myfavourites-widget {
        padding-left: 2rem;
    }
}
