#myfavourites-widget {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            margin-left: 1.25rem;
        }

        h2 {
            margin: 0;
        }

        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: $query-xsmall) {
    #myfavourites-widget {
        article {
            display: flex;
            flex-direction: column;
            flex-basis: 45%;
            flex-grow: 1;
            max-width: calc(50% - 1rem);
        }
    }
}

@media only screen and (min-width: $query-medium) {
    #myfavourites-widget {
        border-left: 2px solid $dark-grey;
        padding-left: 1rem;

        .gameslist {
            article {
                flex-basis: 100%;
                flex-grow: 1;
                max-width: 100%;
            }
        }
    }
}

@media only screen and (min-width: $query-large) {
    #myfavourites-widget {
        padding-left: 2rem;
    }
}
