#myfavourites-widget {
    #myfavourites-widget-gameslist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;

        article {
            display: flex;
            flex-direction: column;
            flex-basis: 30%;
            flex-grow: 1;

            section {
                min-width: 175px;

                h3,
                p {
                    color: $black;
                }

                h3 {
                    margin: 0.5rem 0;
                    font-weight: 400;
                }
            }

            figure {
                margin: 0;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: fill;
                    border-radius: $radius;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #myfavourites-widget {
        border-left: 2px solid $dark-grey;
        padding-left: 1rem;

        #myfavourites-widget-gameslist {
            flex-direction: column;
            
            article {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                flex-grow: 1;
                max-width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    #myfavourites-widget {
        padding-left: 2rem;
    }
}
