#mygames-widget {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            margin-left: 1.25rem;
        }

        h2 {
            margin: 0;
        }

        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 700px) {
    #mygames-widget {
        .gameslist {
            article {
                display: flex;
                flex-direction: column;
                flex-basis: 45%;
                flex-grow: 1;
                max-width: calc(50% - 1rem);
            }
        }
    }
}
